
.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerContainer {
  width: auto;
  margin-left: 50px;
}

.headerContainer h1 {
  font-size: 50px;
  font-weight: 900;
  margin-left: 50px;
  color: black;
}

.headerContainer p {
  margin-top: 15px;
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  margin-left: 50px;
  color: black;
}

.headerContainer button {
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  padding: 15px;
  width: 180px;
  margin-top: 25px;
  margin-left: 50px;
  font-size: 20px;
}

.headerContainer button:hover {
  background-color: goldenrod;
  color: black;
  transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }

  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
  }

  .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    margin: 15px 0px;
    color: white;
  }

  .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: black;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}