.home {
  height: 90vh;
  display: flex;
  justify-content: center; /* Align content to the middle horizontally */
  align-items: flex-start; /* Align content to the start vertically */
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left; /* Align text to the left */
}

.headerContainer {
  width: 80%; /* Adjust width for smaller screens */
  margin-left: 50px; /* Keep the left margin */
  padding: 20px;
}

.headerContainer h1 {
  font-size: 2.5rem; /* Responsive font size */
  font-weight: 900;
  color: black;
  margin-bottom: 10px;
}

.headerContainer p {
  margin-top: 10px;
  font-size: 1.5rem; /* Responsive font size */
  font-weight: lighter;
  color: black;
}

.headerContainer button {
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  padding: 12px 24px; /* Adjust padding */
  font-size: 1rem; /* Responsive font size */
  margin-top: 20px;
}

.headerContainer button:hover {
  background-color: goldenrod;
  color: black;
  transition: 0.3s ease-in-out;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .headerContainer {
    margin-left: 20px; /* Adjust margin for smaller screens */
  }

  .headerContainer h1 {
    font-size: 2rem;
  }

  .headerContainer p {
    font-size: 1.2rem;
  }
}